*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}